In [2]:
name = "akash"

In [4]:
print(name)

akash

In [5]:
type(name)

str

In [6]:
age = 21
print('my age is :',age)

my age is : 21

In [8]:
print('my age is : {age}')

my age is : {age}

In [10]:
# f string
print(f"my age is : {age}")

my age is : 21

In [13]:
# format()
name ="akash"
age = 21
print("my name is {} and my age is {}" .format(age,name))

my name is 21 and my age is akash

In [14]:
name = "Akash Kmaboj"
age=21
degree = "Btech"
print("my age is {} and i have completed : my degree of {} with the name of {}" .format(age,degree,name))

my age is 21 and i have completed : my degree of Btech with the name of Akash Kmaboj

In [28]:
age = int(input("Enter your age"))
if age >=18 and  age <=45:
     print("you are young blood")

Enter your age 22

you are young blood

In [33]:
product_price = int(input("Enter the price"))
if product_price >1000:
     print("The price of the product is {}".format(product_price*0.8))
else:
     print("The price of the product is{}".format(product_price*0.7))

Enter the price 10

The price of the product is7.0

In [34]:
## Single Statement suites
val= int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")

Enter the number 500

Value is less than equal to 999

##Loop Statements
1. for Loop
2. while loop
3. nested loop
4. loop conntrol(break,continue,pass)

In [4]:
# while loop
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1

else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [8]:
## Atm machine with 1000rs
total_amount=1000
while total_amount !=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

# for loop

In [9]:
lst=['Akash',1,2,3,4,'Apple','banana']

In [10]:
lst

['Akash', 1, 2, 3, 4, 'Apple', 'banana']

In [11]:
for x in lst:
    print(x)

Akash
1
2
3
4
Apple
banana

In [12]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [13]:
fruit[2]

'n'

In [14]:
### range()
n = 7

In [15]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [17]:
for i in range(1,6,2):
    print(i)

1
3
5

In [22]:
# Nested loops
n = 7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [6]:
## Control statement
#break
fruits_list=["mango","cherry","apple","papaya","banana"]
for i in fruits_list:
    if i == "apple":
        print("the fruit is apple")
        break
    print(i)

mango
cherry
the fruit is apple

In [7]:
#pass
fruits_list=["mango","cherry","apple","papaya","banana"]
for i in fruits_list:
    if i == "apple":
        print("the fruit is apple")
        pass
    print(i)

mango
cherry
the fruit is apple
apple
papaya
banana

In [8]:
#continue
fruits_list=["mango","cherry","apple","papaya","banana"]
for i in fruits_list:
    if i == "apple":
        print("the fruit is apple")
        continue
    print(i)

mango
cherry
the fruit is apple
papaya
banana