In [2]:
name = "akash"

In [4]:
print(name)

akash

In [5]:
type(name)

str

In [6]:
age = 21
print('my age is :',age)

my age is : 21

In [8]:
print('my age is : {age}')

my age is : {age}

In [10]:
# f string
print(f"my age is : {age}")

my age is : 21

In [13]:
# format()
name ="akash"
age = 21
print("my name is {} and my age is {}" .format(age,name))

my name is 21 and my age is akash

In [14]:
name = "Akash Kmaboj"
age=21
degree = "Btech"
print("my age is {} and i have completed : my degree of {} with the name of {}" .format(age,degree,name))

my age is 21 and i have completed : my degree of Btech with the name of Akash Kmaboj

In [28]:
age = int(input("Enter your age"))
if age >=18 and  age <=45:
     print("you are young blood")

Enter your age 22

you are young blood

In [33]:
product_price = int(input("Enter the price"))
if product_price >1000:
     print("The price of the product is {}".format(product_price*0.8))
else:
     print("The price of the product is{}".format(product_price*0.7))

Enter the price 10

The price of the product is7.0

In [34]:
## Single Statement suites
val= int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")

Enter the number 500

Value is less than equal to 999